@import url(https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap);


.App {
  text-align: center;
}

body {
  background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro-container {
  display: flex;
  justify-content: flex-start;  
  margin-top: 80px;
  margin-bottom: 80px;

  
}
.intro-title {
  margin-top: auto;
    margin-bottom: auto;
    margin-left: 8vw;
    margin-right: 18vw;
    font-family: 'Gamja Flower', cursive !important;
    font-size: x-large;
}
.intro-desc {
  margin-right: 8vw;
  width: 100%;
  font-family: 'Gamja Flower', cursive !important;
  font-size: large;
}

.fa {
  margin-right: 5px; }

.jumbotron {
  background: none;
  border-radius: 0; }

body {
  margin: 0 !important;
  padding: 0 !important; }

/* .header-info-bg {
  background: linear-gradient(100deg, #FFC107, orange) } */
.header-info-bg {
  background-color: white;
}
.main-project-bg {
  border-bottom: 1px solid #E0E0E0; 
  background-color: beige;
  font-family: 'Gamja Flower', cursive !important;
}

.contact-bg {
  background: #343a40; }
  

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul, ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none;
  outline: none; }

button {
  border-radius: 0;
  cursor: pointer; }

.bg-wrapper {
  text-align: center;
  padding-top: 180px;
}

.img-portfolio{
  border-style: solid;
    border-radius: 17px;
    border-width: medium;
    border-color: #e8d278;
    margin-bottom: 10px;
}

.img-asp {
  width: 100%;
  height: 100%;
  padding: 5px;
}